In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\estudiantes\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\estudiantes\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\estudiantes\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\estudiantes\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\estudiantes\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\estudiantes\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

# Biblioteca Pandas en python

In [2]:
import pandas as pd

## Crear una serie
arreglo unidimensional de datos

In [3]:
miSerie=pd.Series([34,56,78,23,34])
miSerie

0    34
1    56
2    78
3    23
4    34
dtype: int64

## Diccionario en Python
estructura que guarda datos en forma de objetos llave-valor

In [12]:
miDiccionario={
    "nombre":"casa1",
    "área":"120",
    "baños": 3,
    "propietarios":[
        "alejandro","sebas","nena"
    ],
    "Barrio":{
        "nombre":"gran Britalia",
        "localidad":"Bosa"
    }
}
miDiccionario

{'nombre': 'casa1',
 'área': '120',
 'baños': 3,
 'propietarios': ['alejandro', 'sebas', 'nena'],
 'Barrio': {'nombre': 'gran Britalia', 'localidad': 'Bosa'}}

### DataFrame
estructura de datos en formato tabla.

la forma "simple" de crear un dataframe es a partir de un diccionario, otra forma puede ser desde hojas de cálculo, desde archivos JSON o desde archivos CSV(valores separados por coma (,))

In [13]:
miDataframe= pd.DataFrame({"sí":[10,15],"No":[50,68]})
miDataframe

   sí  No
0  10  50
1  15  68